.navbar {
  background-color: #FFE8D7;
  height: 8rem;
  transition: height 0.3s ease-in-out;
}

.navbar-logo img {
  height: 100%;
  object-fit: contain;
}

.navbar.shrink {
  height: 6rem;
}

#navbarLogo {
  height: 6.25rem;
  transition: height 0.3s ease-in-out;
}

#navbarLogo.shrink {
  height: 4em !important;
}

.header-text {
  /* All text in header */
  color: #1C1B1B;
}

.nav-text {
  /* Regular text in navbar */
  font-family: GTFlexa;
  font-weight: 500;
  margin-right: 20px;
}

.navbar .navbar-brand {
  padding-top: 0px;
}

#searchRow {
  width: 500px;
  font-family: GTFlexa;
}

#searchInput {
  background-color:transparent !important;
  border-color: #1C1B1B;
}

#searchInput:focus {
  border-color: #F9B100 !important;
  box-shadow: none !important;
}

#searchBtn {
  margin-left: -50px;
}

#searchIcon.focus {
  color: #F9B100 !important;
}

::-ms-clear {
  display: none;
}
