/********** Scroller **********/
img {
  height: 70%;
}

.header {
  font-family: GTFlexa;
  font-weight: 500;
}

.scroll-left {
  height: 4rem;
  border: 2rem;
  overflow: hidden;
  position: relative;
  background: #FF8DB0;
  color: #1C1B1B;
  border-top: 0.13rem solid #1C1B1B;
  border-bottom: 0.13rem solid #1C1B1B;
 }

 .inlineBlock {
  float: left; /* Float elements side by side */
  margin-right: 10px;
 }

 .scroll-left .scrollContainer {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  left: 0;
  /* Starting position */
  transform:translateX(100%);
  /* Apply animation to this element */
  animation: scroll-left 20s linear infinite;
  /* animation: marquee 20s linear infinite;; */
 }

 /* Move it (define the animation) */
 @keyframes scroll-left {
  0%   {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
 }

 /********** Footer **********/
.footerContainer {
  width: 100% !important;
  background-color: #FADAC1;
  /* height: 20rem; */
}

.footerHeader {
  text-transform: uppercase;
  font-family: GTFlexa-Bold;
  color: #FC4900;
}

a {
  color: #1C1B1B;
  text-decoration: none;
}

.link {
  font-family: GTFlexa;
}

#footerLogo {
  height: 15rem;
}

.footerText {
  font-family: GTWalsheim;
}

hr {
  border-top: 0.15rem solid #1C1B1B;
  opacity: 100 !important;
}
