<div class="bg">
  <!-- <div class="container d-flex">
    <div class="row align-items-center">
      <div class="col border-3" id="aboutUsDiv">sdfsd</div>
    </div>
  </div> -->
  <div id="aboutUsDiv">
    <div class="container d-flex" id="aboutUsContainer">
      <div class="row d-flex align-items-center mx-5">
        <div class="col-md-7">
          <h5>ABOUT US</h5>
          <h1 class="pb-2">Know more about<br>Drip Café!</h1>
          <p>
            Our journey started with a love for the rich aroma and unique taste of freshly brewed coffee. Our commitment to excellence led us to source only the highest quality beans from around the world and roast them to perfection in-house.
          </p>
          <p class="pb-2">
            We take pride in every cup we serve, and our skilled baristas are dedicated to crafting each drink with precision and care.
          </p>
          <button class="btn rounded-pill border-2 btnText" type="button" id="aboutUsBtn">Learn more</button>
        </div>
        <div class="col-md-5">
          <img src="../../../assets/images/coffee-beans.png" alt="coffee-beans" id="coffeeBeansImg">
        </div>
      </div>
    </div>
  </div>
</div>
