<div class="bg">
  <div id="aboutUsDiv">
    <div class="container px-0" id="aboutUsContainer">
      <div class="row d-flex align-items-center mx-5" id="firstRow">
        <div class="col-md-7">
          <h5 id="aboutUsh5">ABOUT US</h5>
          <h1 class="pb-2">Know more about<br>Drip Café!</h1>
          <p>
            Our journey started with a love for the rich aroma and unique taste of freshly brewed coffee. Our commitment to excellence led us to source only the highest quality beans from around the world and roast them to perfection in-house.
          </p>
          <p class="pb-2">
            We take pride in every cup we serve, and our skilled baristas are dedicated to crafting each drink with precision and care.
          </p>
          <button class="btn rounded-pill border-2 customBtn raise" type="button" id="aboutUsBtn">Learn more</button>
        </div>
        <div class="col-md-5">
          <img src="assets/images/coffee-beans.png" alt="coffee-beans" id="coffeeBeansImg">
        </div>
      </div>

      <div class="row d-flex align-items-center mx-0" id="secondRow">
        <div class="col-md-4 qualityCol d-flex align-items-center" id="qualityOne">
          <div class="container d-flex">
            <div class="row d-flex mx-2">
              <div class="col-md-5 px-0 d-flex align-items-center justify-content-center">
                <img src="assets/images/bean-vector.png" class="mx-auto" alt="">
              </div>
              <div class="col-md-7 px-0">
                <h5>Fresh & high quality ingredients</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 qualityCol d-flex align-items-center" id="qualityTwo">
          <div class="container d-flex">
            <div class="row d-flex mx-2">
              <div class="col-md-5 px-0 d-flex align-items-center justify-content-center">
                <img src="assets/images/leaf-vector.png" alt="">
              </div>
              <div class="col-md-7 px-0">
                <h5>Sustainable & Ethical Sourcing</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 qualityCol d-flex align-items-center" id="qualityThree">
          <div class="container d-flex">
            <div class="row d-flex mx-2">
              <div class="col-md-5 px-0 d-flex align-items-center justify-content-center">
                <img src="assets/images/package-vector.png" alt="">
              </div>
              <div class="col-md-7 px-0">
                <h5>Wide variety of products</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
