.bg {
  background-color: #FFB6CC;
  height: 100%;
}

/********** FIRST ROW **********/

#aboutUsDiv {
  width: 70%;
  height: 80%;
  border: 3px solid #1C1B1B;
  background-color: #FC4900;
  border-radius: 25px;

  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: -20px 20px #1C1B1B;
}

#aboutUsContainer {
  height: 100%;
  max-width: 100%;
}

.row {
  max-width: 100%;
}

#firstRow {
  height: 75%;
}

#aboutUsh5 {
  font-family: GTWalsheim-Bold;
}

h1 {
  font-family: GTFlexa-Bold;
  color: #EDE6D4;
}

p {
  font-family: GTWalsheim;
  color: #F5F5F5;
}

#coffeeBeansImg {
  transform: scale(0.8);
}

/********** SECOND ROW **********/

#secondRow {
  height: 25%;
}

#qualityOne {
  background-color: #FFB6CC;;
}

#qualityTwo {
  background-color: #F9B100;
}

#qualityThree {
  background-color: #FFE8D7;
}

.qualityCol {
  height: 100%;
  font-family: GTFlexa-Bold;
}
