<div class="bg">
    <div class="container-fluid ps-120 pe-120" id="firstCol">
        <div class="d-flex border-bottom border-dark pb-2 border-2">
            <a href="/" class="d-flex flex-wrap align-items-center ms-3 me-2 me-md-auto text-dark text-decoration-none">
                <span class="fs-1 px-100" id="mainText">Our Menu</span>
            </a>

            <ul class="nav nav-pills fs-3">
                <li class="nav-item ">
                    <a class="nav-link link-secondary" id="secondaryText" routerLink="#"
                        (click)="reloadViaHeading(true)">Featured Products</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link link-secondary" id="secondaryText" routerLink="#"
                        (click)="reloadViaHeading(true)">Drinks</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link link-secondary" id="secondaryText" routerLink="#"
                        (click)="reloadViaHeading(false)">Food</a>
                </li>
            </ul>
        </div>

        <div class="d-flex mb-4 pl-3 me-md-auto">
            <ul class="nav nav-pills">
                <li class="nav-item " *ngFor="let productType of typesOfProduct"
                    (click)="reloadAndFilterList(productType.drink_indicator, productType.type)">
                    <a class="nav-link link-secondary" id="secondaryText" routerLink="#">{{productType.type}}</a>
                </li>
            </ul>
        </div>


        <div class="container justify-content-center">
            <a class="fs-3 px-4 nav-link link-secondary" id="secondaryText">{{currentType}}</a>
            <div class="row row-cols-4 row-cols-md-4 g-6">
                <div class="col mb-4" *ngFor="let product of getPaginatedProducts()">
                    <div class="card card-img-top mx-auto align-middle mb-5">
                        <div class="p-5">
                            <img src="../../../assets/images/coffee-bottom.png"
                                class="card-img-top mx-auto d-block text-center" style="width: 4rem;" alt="#">
                        </div>
                        <div class="card-body">
                            <h6 class="card-text text-left">{{product.name}} &nbsp;&nbsp; ₱{{product.price}}</h6>
                            <h6 class="card-text text-left">{{product.description}}</h6>
                            <!-- <a href="#" class="btn rounded-pill border-2 btnText mx-auto d-block" id="addToCartBtn">Add
                                to cart</a> -->
                            <button class="btn rounded-pill border-2 customBtn w-100">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4 text-black">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-circle">
                    <li class="page-item mx-1 font-weight-bold" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item mx-1 font-weight-bold" *ngFor="let pageNumber of pageNumbers"
                        [class.active]="currentPage === pageNumber">
                        <a class="page-link" (click)="onPageChange(pageNumber)">{{ pageNumber }}</a>
                    </li>
                    <li class="page-item mx-1 font-weight-bold" [class.disabled]="currentPage === pageNumbers.length">
                        <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
