.bg {
  background-color: #FFE8D7;
  height: 100%;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
}

.col {
  height: 100%;
}

h6 {
  text-transform: uppercase;
  font-family: GTWalsheim-Bold;
}

h1 {
  font-family: GTFlexa-Bold;
}

h3 {
  font-family: GTFlexa;
  font-weight: 550;
}

#amountText {
  color: #FC4900;
  font-family: GTFlexa-Bold;
}

p {
  font-family: GTFlexa;
}

.featuredProductItem {
  max-height: 11.5rem;
  max-width: 6.5rem;
  border-radius: 25px;
  background-color: #FADAC1;
  border: none !important;
}

.productListImg {
  max-width: 100%;
  height: auto;
}

.active {
  border: 0.13rem solid #DBAE8C !important;
}

.featuredPhotoContainer {
  height: 100%
}

#menuButton {
  border-color: #1C1B1B;
  background-color: #F9B100;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.fullHeight {
  height: 100%;
}

.imageStack {
  position: relative; /* set the position of the container div to relative */
}

.imageStack .imageStackPhoto {
  position: absolute; /* set the position of the images to absolute */
}

#featuredVector {
  max-height: 80%;
  z-index: 2;
}

/* #featuredPhoto {
  max-height: 80%;
  z-index: 3;
} */
