<div class="bg">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-7 fullHeight">
        <div class="container">
          <div class="row">
            <!-- Featured Product List  -->
            <div class="col col-md-4 mt-5">
              <div class="featuredProductList d-block mt-5" id="featuredProductList">
                <button
                  *ngFor="let product of products; let i = index"
                  [class.active]="activeButton === i"
                  (click)="selectProduct(product);activeButton = i"
                  class="featuredProductItem mb-4 mx-4">
                    <img [src]="product.image" alt="" class="px-3 py-3 productListImg">
                </button>
              </div>
            </div>

            <!-- Selected featured product  -->
            <div class="col col-md-8 featuredPhotoContainer ">
              <div class="container imageStack d-flex align-items-center">
                <img [src]="selectedProduct.image" alt="" id="featuredProductPhoto" class="imageStackPhoto">
                <img src="../../../assets/images/featured-vector.png" alt="" id="featuredVector" class="imageStackPhoto">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 ps-5">
        <h6>Products</h6>
        <h1 class="mb-5">Our Best Offers</h1>
        <h3 class="mb-3">{{ selectedProduct.name }}</h3>
        <p>{{ selectedProduct.description }}</p>
        <h3 class="mb-5" id="amountText">₱ {{ selectedProduct.price }}</h3>

        <button class="btn rounded-pill border-2 customBtn raise" type="button" id="menuButton">
          View full menu
        </button>
      </div>
    </div>
  </div>
</div>
