<div class="bg">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-7">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col col-md-4">
              sfsfs
            </div>
            <div class="col col-md-8">
              <!-- <img [src]="product.image" [alt]="product.name" id="productImage" class="my-auto"> -->
              <img src="../../../assets/images/featured-vector.png" alt="" id="featuredVector">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h6>Products</h6>
        <h1 class="mb-5">Our Best Offers</h1>
        <h3 class="mb-3">{{ product.name }}</h3>
        <h3 class="mb-3" id="amountText">₱ {{ product.amount }}</h3>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
</div>
