<div class="bg">
  <div class="container d-flex ps-120 pe-120">
    <div class="row align-items-center">
      <div class="col-md-6" id="firstCol">
        <h1 class="mb-4" id="mainText">Get a taste of perfection with every drip at our café!</h1>
        <h3 class="mb-4" id="secondaryText">Wake up and smell the coffee: Get your daily drip fix at our shop.</h3>
        <p class="mb-5 regularText">
          Drip coffee is made with precision and care, ensuring every cup is rich, smooth, and delicious.
          From bold blends to delicate roasts, we've got a drip for every taste preference.
          So, come on in, grab a seat, and let us pour you a cup of perfection.
        </p>
        <button class="btn rounded-pill customBtn raise" type="button" id="productBtn">Order now</button>
      </div>
      <div class="col-md-6">
        <img src="assets/images/coffee-bottom.png" alt="coffee-bottom" id="coffeeBottom">
        <img src="assets/images/coffee-top.png" alt="coffee-top" id="coffeeTop">
      </div>
    </div>
  </div>
</div>
