.bg {
  background-color: #FFE8D7;
  height: 100%;
}

.container {
  height: 100%;
  margin: 0%;
}

#firstCol {
  margin-top: 100px;
}

#mainText {
  font-size: 40px;
  color: #FC4900;
  line-height: 48px;
  font-family: GTFlexa-Bold;
}

#secondaryText {
  font-family: GTWalsheim-Bold;
  line-height: 40px;
}

.regularText {
  font-family: GTWalsheim;
  line-height: 30px;
  max-width: 90%;
}

.btnText {
  font-weight: 700;
}

#productBtn {
  border-color: #1C1B1B;
  background-color: #F9B100;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

#coffeeTop {
  position: absolute;
  top: 180px;
  right: 80px;
}

#coffeeBottom {
  position: absolute;
  top: 380px;
  right: 400px;
}
