<div class="bg">
  <div class="container" id="mainContainer">
    <div class="row d-flex row-cols-1 row-cols-md-2 g-4 topHeight">
      <div class="col">
          <div class="row h-100 ">
              <div class="col-12 ">
                  <div class="h-100 d-flex align-items-end justify-content-end">
                      <img src="assets/images/barista.png" alt="barista" id="baristaImg">
                  </div>
              </div>
          </div>
      </div>
      <div class="col topRow">
          <div class="row fullHeight">
              <div class="col-12 d-flex">
                  <div class="topRightCol pullBottom pe-5">
                      <h1 class="mb-4">Get 10% OFF of your first purchase! </h1>
                      <h5 class="mb-4">Enter your email below to receive your discount code.</h5>
                      <div class="container">
                      <form class="row">
                        <div class="col-md-8 ps-0">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter your email" id="subscribeInput">
                            <button type="submit" class="btn btn-secondary px-4" id="voucherBtn" id="subscribeBtn">Subscribe</button>
                          </div>
                        </div>
                      </form>
                      </div>
                  </div>
              </div>
              <div class="col-12">
                  <div class="bottomRightCol d-flex align-items-end justify-content-start">
                    <img src="assets/images/espresso-machine.png" alt="espresso-machine" id="espressoMachineImg">
                  </div>
              </div>
          </div>
      </div>
    </div>

  </div>
  <div class="bottomRowHeight mx-0"></div>
</div>
